.search-bar {
  position: relative;
  flex-basis: 50%;
  margin-right: 2%;
}

.search-bar .icon-search {
  position: absolute !important;
  right: 0;
  padding: 0 !important;
}

.search-bar .input-search {
  width: 100% !important;
}
