.utils {
    display: flex;
    justify-content: center;
}

.file-info {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.file-info-detail {
  flex-basis: 70%;
  margin-left: 5px;
}

.file-info-detail-name {
  margin-bottom: 5px;
}

.file-info-detail-size {
  color: #c3c3c3;
}
