.tree-item {
    text-align: left !important;
    width: 90%;
    margin-right: calc(10% - 50px) !important;
}

.tree-item > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tree-item-wrapper {
    margin-bottom: 5px;
}

.tree-item-folder {
    text-transform: uppercase;
    font-size: 1.05rem;
}

.tree-item-icon {
    font-size: .6rem;
    margin-right: 5px;
}

.tree-item-icon,
.tree-item-number {
    color: #c3c3c3;
}

.actions {
    display: flex;
    justify-content: center;
}

.search-bar {
    position: relative;
    flex-basis: 50%;
    margin-right: 2%;
}

.search-bar .icon-search {
    position: absolute !important;
    right: 0;
    padding: 0 !important;
}

.search-bar .input-search {
    width: 100% !important;
}

.actions-select {
  margin-top: .2rem;
  height: 100%;
}

.file-info {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.file-info-detail {
  flex-basis: 50%;
  margin-left: 15px;
}

.file-info-detail-name {
  margin-bottom: 5px;
}

.file-info-detail-size {
  color: #c3c3c3;
}
